.plans/
target/
bindings/go/lib/**/*.a
**/node_modules
**/*.rs.bk
Cargo.lock
/bin/
.goneat/hooks/
*.bk

# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.venv/
*.whl
.ruff_cache/
.mypy_cache/
.pytest_cache/

# Node.js
node_modules/
*.node
